.bg02img{
    background-image: url('/assets/Background-02.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    height: 100vh;
    z-index: -1;
}